@charset "utf-8";
/* CSS Document */
*, ::after, ::before {
  box-sizing: border-box;
}
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
  font-family: 'FuturaBoldfont';
  src: url('./fonts/FuturaBoldfont.eot');
  src: url('./fonts/FuturaBoldfont.eot') format('embedded-opentype'),
       url('./fonts/FuturaBoldfont.woff2') format('woff2'),
       url('./fonts/FuturaBoldfont.woff') format('woff'),
       url('./fonts/FuturaBoldfont.ttf') format('truetype'),
       url('./fonts/FuturaBoldfont.svg#FuturaBoldfont') format('svg');
}

@font-face {
  font-family: 'futuramediumbt';
  src: url('./fonts/futuramediumbt.eot');
  src: url('./fonts/futuramediumbt.eot') format('embedded-opentype'),
       url('./fonts/futuramediumbt.woff2') format('woff2'),
       url('./fonts/futuramediumbt.woff') format('woff'),
       url('./fonts/futuramediumbt.ttf') format('truetype'),
       url('./fonts/futuramediumbt.svg#futuramediumbt') format('svg');
}

@font-face {
  font-family: 'PuntaExtrabold';
  src: url('./fonts/PuntaExtrabold.eot');
  src: url('./fonts/PuntaExtrabold.eot') format('embedded-opentype'),
       url('./fonts/PuntaExtrabold.woff2') format('woff2'),
       url('./fonts/PuntaExtrabold.woff') format('woff'),
       url('./fonts/PuntaExtrabold.ttf') format('truetype'),
       url('./fonts/PuntaExtrabold.svg#PuntaExtrabold') format('svg');
}

@font-face {
  font-family: 'FuturaMedium';
  src: url('./fonts/FuturaMedium.eot');
  src: url('./fonts/FuturaMedium.eot') format('embedded-opentype'),
       url('./fonts/FuturaMedium.woff2') format('woff2'),
       url('./fonts/FuturaMedium.woff') format('woff'),
       url('./fonts/FuturaMedium.ttf') format('truetype'),
       url('./fonts/FuturaMedium.svg#FuturaMedium') format('svg');
}

@font-face {
  font-family: 'FuturaBold';
  src: url('./fonts/FuturaBold.eot');
  src: url('./fonts/FuturaBold.eot') format('embedded-opentype'),
       url('./fonts/FuturaBold.woff2') format('woff2'),
       url('./fonts/FuturaBold.woff') format('woff'),
       url('./fonts/FuturaBold.ttf') format('truetype'),
       url('./fonts/FuturaBold.svg#FuturaBold') format('svg');
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('./fonts/AvenirBlack.eot');
  src: url('./fonts/AvenirBlack.eot') format('embedded-opentype'),
       url('./fonts/AvenirBlack.woff2') format('woff2'),
       url('./fonts/AvenirBlack.woff') format('woff'),
       url('./fonts/AvenirBlack.ttf') format('truetype'),
       url('./fonts/AvenirBlack.svg#AvenirBlack') format('svg');
}

@font-face {
  font-family: 'futuramediumitalic';
  src: url('./fonts/futuramediumitalic.eot');
  src: url('./fonts/futuramediumitalic.eot') format('embedded-opentype'),
       url('./fonts/futuramediumitalic.woff2') format('woff2'),
       url('./fonts/futuramediumitalic.woff') format('woff'),
       url('./fonts/futuramediumitalic.ttf') format('truetype'),
       url('./fonts/futuramediumitalic.svg#futuramediumitalic') format('svg');
}

@font-face {
  font-family: 'PuntaRegular';
  src: url('./fonts/PuntaRegular.eot');
  src: url('./fonts/PuntaRegular.eot') format('embedded-opentype'),
       url('./fonts/PuntaRegular.woff2') format('woff2'),
       url('./fonts/PuntaRegular.woff') format('woff'),
       url('./fonts/PuntaRegular.ttf') format('truetype'),
       url('./fonts/PuntaRegular.svg#PuntaRegular') format('svg');
}

@font-face {
  font-family: 'LEMONMILKRegular';
  src: url('./fonts/LEMONMILKRegular.eot');
  src: url('./fonts/LEMONMILKRegular.eot') format('embedded-opentype'),
       url('./fonts/LEMONMILKRegular.woff2') format('woff2'),
       url('./fonts/LEMONMILKRegular.woff') format('woff'),
       url('./fonts/LEMONMILKRegular.ttf') format('truetype'),
       url('./fonts/LEMONMILKRegular.svg#LEMONMILKRegular') format('svg');
}


:root {
  --abutton-color:   linear-gradient(146deg, rgba(255,77,255,1) 34%, rgba(65,17,249,1) 74%) 0% 0% no-repeat padding-box;
  --bbutton-color: linear-gradient(146deg, rgba(42,242,255,1) 30%, rgba(255,2,0,1) 71%);
  --body-background:linear-gradient(184deg, rgba(12,0,55,1) 10%, rgba(55,0,55,1) 55%);
  --font-head:#ee4130;
  --font-body:#fff !important;
  --counnect-link:#6D82CB !important;
  --menu-link:#fff !important;
  --line-color: linear-gradient(99deg, rgba(255,77,255,1) 37%, rgba(65,17,249,1) 80%);

}

a, abbr, acronym, address, applet, big, blockquote, body, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, ul, var {
  border: 0;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: none !important;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Source Sans Pro', sans-serif;
  }
  
  body {
  margin: 0;
  padding: 0;
  background:var(--body-background);
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:17px;
  color:var(--font-body);
  padding:0 0 0 0;
  }

  a{
    color:inherit;
    outline: none !important;
  }
  a:hover{
    color:inherit;
    text-decoration:none;
  }
  button,
  button:focus{
    outline: none !important;
  }
  ol {
    padding-left: 0;
  }
  ol li {
    list-style: inherit;
  }
  ul li {
    list-style: none;
  }
  ul {
    padding-left: 0;
  }
  li, ul {
    list-style: none;
  }
  img {
    vertical-align: top;
    max-width:100%;
    border: none;
    outline: none;
  }
  .btn:focus{
    box-shadow: none !important;
  }

  .top-sec-bar .navbar .navbar-nav .nav-link{
    font-family: 'AvenirBlack';
    color: var(--menu-link);
  }
  .top-sec-bar .navbar .navbar-nav .nav-item .nav-link{
    margin: 0 7px;
  }
  .login-btn{
    font-family: 'AvenirBlack';
    padding: 6px 70px !important;
    border: solid 2px #fff;
    color: var(--menu-link);
    border-radius: 30px !important;
    margin: 0 20px;
    height: 46px;
    align-items: center;
    display: flex;
    justify-content: center;

  }
  .contact-btn{
    font-family: 'AvenirBlack';
    padding: 6px 40px !important;
    border: solid 2px #fff;
    color: var(--menu-link);
    border-radius: 30px !important;
    margin: 0 20px;
    height: 46px;
    align-items: center;
    display: flex;
  }

  .navbar-fixed-top{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px 3px 6px #00000029;


  }
  .comon-buuton{
    font-family: 'AvenirBlack';
    padding: 6px 36px !important;
    border: none !important;
    color: var(--menu-link);
    border-radius: 30px !important;
    background: var(--abutton-color);
    height: 46px;
    align-items: center;
    display: flex;
    transition: all 0.5s;
  }
  
  .comon-buuton img{
    width: 24px;
    transition: all 0.5s;
    position: relative;
    left: 12px;
  }

  .comon-buuton:hover img{
    left: 18px;
  }
  .comon-buuton:hover,
  .login-btn:hover,
  .contact-btn:hover{
    transition: all 0.5s;
    color: var(--menu-link);
  }

  .comon-logo{
    display: grid !important;
    align-content: center;
    height: 98px;
  }
  .comon-logo img{
    width:80%;
    margin: auto;
  }
  .multi-logo-div{
    display: inline-block;
    width: 100%;
    border-top: solid 2px #4111F9;
    border-bottom: solid 2px #4111F9;
    margin-top: 100px;
    padding:0;
  }
  .multi-logo-div .slick-arrow{
    display: none !important;
  }
  .items-l{
    display: flex;
    justify-content: center;
  }
  .slick-track > div.slick-active:nth-child(3) .items-l{

    text-align: right !important;
  }
  .slick-track > div.slick-active:nth-child(3) .items-l img{
    margin-left: 67px;
  }

  .slick-track > div.slick-active:nth-child(1) .items-l img{
    margin-left: -20px;
  }

  .slick-track > div.slick-active:nth-child(2) figure img{
    margin-left: 20px;
  }

  .slick-track > div.slick-active:nth-child(4) .items-l img{
    margin-left: 67px;
  }

  .multi-logo-div .row > div:nth-child(3){
     text-align: right !important;
  }
  .multi-logo-div .row > div:nth-child(1) figure img{
    margin-left: -20px;
  }
  .multi-logo-div .row > div:nth-child(2) figure img{
    margin-left: 20px;
  }
  .multi-logo-div .row > div:nth-child(3) figure img{
    margin-left: 67px;
  }
  .multi-logo-div .row > div:first-child{
    text-align: left !important;
  }
  .multi-logo-div .row > div:last-child{
    text-align: right !important;
  }
 
/* banner */
.banner{
  padding-top:200px;
  position: relative;
}
.banner::before{
  background-image: url(../public/images/Shape\ 1.png);
  content: "";
  left: 100px;
  top: 92px;
  width: 40%;
  height: 90%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 46%;
  background-position: center 130px;
  z-index: -1;

}
.full-with .navbar-fixed-top{
  background: #0C0037;
  z-index: 3;
}
.banner::after{
  background-image: url(../public/images/Shape\ 2.png);
  content: "";
  right:30px;
  top:80px;
  width: 40%;
  height: 90%;
  display: inline-block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 46%;
  background-position: center 130px;
  z-index: -1;

}
.banner h1,
.banner h1 span{
  font-family: 'PuntaExtrabold';
  color: var(--menu-link);
  font-size:82px;
}
.banner h1 span.sp-color{
  color: #FF4DFF;
}
.banner p{
  font-family: 'PuntaRegular';
  font-size: 18px;
  margin-bottom: 40px;
}
.banner ul{
  margin: 20px 0;
}
.banner ul li{
  margin: 0 20px;
  position: relative;
}
.banner ul li::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  top: 11px;
  right: -24px;
  background: #FF4DFF;
}
.banner ul li:last-child::after{
  display: none;
}
.banner ul li a{
  font-family: 'PuntaRegular';
  font-size:25px;
  text-decoration: none;
}
.line{
  background: var(--line-color);
  display: table;
  margin: auto;
  height: 4px;
  margin-top:40px;
  width: 22%;
}
/* body part */
.how-it-work-1{
  padding-top: 140px;
}
.how-it-work-1 h2{
  font-family: 'PuntaExtrabold';
}
.how-it-work-1 p{
  font-family: 'FuturaMedium';
  margin-top: 15px;
}
.sub-head,
.sub-head span{
  font-family: 'PuntaExtrabold';
  font-size: 44px;
}

.bd-how{
  margin-top: 80px;
}

.how-it-work-1 li{
  margin-bottom: 50px;
}
.comon-part1{
  display: flex;
  position: relative;
}
.comon-part1:after{
  width: 4px;
  height: 70px;
  background: transparent linear-gradient(180deg, #4111F900 0%, #4111F9 49%, #4111F900 100%) 0% 0% no-repeat padding-box;;
  content: "";
  display: inline-block;
  position: absolute;
  left: -41px;
  top: 10px;
}
.comon-part1 figure{
  width: 20%;
}
.comon-part1 .right-content1{
  width: 80%;
}

.comon-part1 .right-content1 p{
  line-height: 26px;
  width: 80%;
  margin-top: 10px;
}
.credibility-div{
  padding-top: 120px;
}
.bd-cre{
  margin-top: 80px;
}
.credibility-div p{
  font-family: 'FuturaMedium';
}
.products-div1{
  display: inline-block;
  padding: 130px 0 0 0;
  width: 100%;
}
.products-div1 p{
  font-family: 'FuturaMedium';
  margin: 20px 0 0 0;
}
.allow-div1{
  display: inline-block;
   width: 100%;
   margin-top: 80px;
}
.comon-alow-div{
  border: 4px solid #FF4DFF;
  border-radius: 10px;
  display: inline-block;
  padding: 40px 80px;
  margin:0 0 60px 0;
  width: 100%;
}
.comon-alow-div h2{
  font-size: 60px;
  font-family: 'PuntaExtrabold';
}
.comon-alow h5{
  font-family: 'FuturaBold';
  width: 87%;
  line-height: 28px;
  height: 57px;
}
.comon-alow{
  position: relative;
  width: 100%;
  display: inline-block;
}

.comon-alow p{
  width:94%;
  font-size: 15px;
  font-family: 'FuturaMedium';

}
.lline-div{
  background: transparent linear-gradient(260deg, #4111F900 10%, #4111F9 49%, #4111F900 100%) 0% 0% no-repeat padding-box;
  margin-bottom: 15px;
  display: inline-block;
  width: 79px;
  height: 4px;
}
.comon-alow-div h3{
  font-family: 'FuturaBold';
  font-size: 25px;
  margin-top: 55px !important;
}
.products-md .modal-content{
  background: none;
}
.inside-prodcuts1{
  padding:0 70px;
}
.products-md .modal-body{
  padding-top: 30px;
  border-radius: 15px;
  background: transparent linear-gradient(90deg, #4111F9 0%, #FF4DFF 100%) 0% 0% no-repeat padding-box;
}

.modal-logoiny .modal-body{
  padding:80px;
  border-radius: 10px;
  background: transparent linear-gradient(90deg, #4111F9 0%, #FF4DFF 100%) 0% 0% no-repeat padding-box;
}
.modal-logoiny .modal-content{
  background: none !important;
}
.modal-logoiny .btn-close{
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
}
.modal-logoiny .btn-close svg{
  width: 30px;
  height: 30px;
  color: #fff;
  opacity: 9 !important;

}
.col-wallte-btn{
  border: solid 2px #fff;
  border-radius: 50px;
  color: #fff;
  padding: 6px 22px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-family: 'FuturaMedium';
  transition: all 0.5s;
}
.col-wallte-btn:hover {
  color: #fff;
}
.col-wallte-btn:hover img{
  left:15px;
}
.logomd{
  margin: auto;
  display: table;
}
.col-wallte-btn img{
  width: 23px;
  margin-left:0;
  transition: all 0.5s;
  position: relative;
  left: 8px;
}
.inside-prodcuts1 h2{
  font-family: 'PuntaExtrabold';
  font-size: 50px;
}
.inside-prodcuts1 p{
  font-family: 'PuntaExtrabold';
  font-size: 22px;
  font-weight:300;
}
.products-md .inside-prodcuts1 .btn-close{
  position: absolute;
  right:20px;
}
.products-md .inside-prodcuts1 .btn-close:focus{
  box-shadow: none;
}
.products-md .inside-prodcuts1 .btn-close{
  background: none;
  opacity: 9 !important;
  margin-right: 15px;
}
.products-md .inside-prodcuts1 .btn-close svg{
  color: #fff;
  width: 28px;
  height: 28px;

}
.comon-part1-ps{
  display: inline-block;
  background: #190037 0% 0% no-repeat padding-box;
  border-radius: 8px;
  padding: 30px 50px;
  width: 100%;
  height: 300px;

}
.comon-part1-ps p{
  margin: 15px 0 25px 0;
  line-height: 25px;
}
.md-fot{
  font-size: 20px;
}
.md-fot a{
  font-family: 'PuntaExtrabold';
  color: #859AFF;
  text-decoration: none;
}
.comingsoon-btn{
  background: transparent linear-gradient(165deg, #AFAFAF 0%, #555555 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  color: var(--menu-link);
  font-family: 'AvenirBlack';
  cursor: default !important;
  display: flex;
  height: 45px;
  width: 185px;
  align-items: center;
  justify-content: center;
}
.comingsoon-btn:hover{
  color: var(--menu-link);
}
.pro-list-action .comingsoon-btn{
  margin: auto !important;
  margin-top: 1rem!important;
}
/* footer */
  footer {
    display: inline-block;
    width: 100%;
  }
  footer p {
    font-size: 17px;
    font-family: 'FuturaBold';
  }
  .navbar-toggler svg{
    color: #fff !important;
    width: 35px;
    height: 35px;
  }
  .footer-lg img{
    width: 30%;
    margin: auto;


  }
  .logo-modal-div1 h2{
    font-family: 'PuntaExtrabold';
    font-size: 25px;
  }
  .logo-modal-div1 .logomd{
    width: 80%;
    margin: auto;
  }
  @media screen and (min-width:1200px) {

    .modal-xl {
      max-width: 1223px;
    }
    .modal-logoiny .modal-lg {
       max-width: 580px;
    }
  }
  @media screen and (max-width:1180px) {
    .comon-alow h5{
      font-size: 15px;
      line-height: 24px;
    }
    .top-sec-bar .navbar .navbar-nav .nav-item .nav-link{
      font-size: 14px;
    }
  }
  @media screen and (max-width: 900px) {
    .how-it-work-1 h2,
    .how-it-work-1 p{
      text-align: center;
    }
    .comon-part1 h2,
    .comon-part1 p{
      text-align: left;
    }
    .how-it-work-1 ul {
      margin-top: 30px;
      margin-left: 90px;
    }

    .comon-buuton{
      margin: auto !important;
    }
    .cre-img{
      width: 80%;
      margin: auto;
      display: block;
    }
    .credibility-div p{
      text-align: center;
    }
    .contact-btn{
      margin-top: 18px;
      width: 199px;
      justify-content: center;
    }
    .comon-alow-div h3{
      margin-bottom: 10px;
    }

    .navbar-collapse{
      padding: 30px;
      text-align: center;
      background: transparent linear-gradient(180deg, #370037 0%, #0C0037 100%) 0% 0% no-repeat padding-box;
    }
    .top-sec-bar .navbar .navbar-nav .nav-item .nav-link {
      font-size: 19px;
    }
    .navbar-collapse .comon-buuton{
      margin-top: 20px !important;
      width: 192px;
    }
    .login-btn{
      width: 186px;
      margin: auto;
      margin-top: 20px;

    }
    .navbar-collapse {
      align-items: center;
      display: table;
      flex-basis: inherit;
      flex-grow: 0;
      margin: auto;
      width: 90%;
  }
    .navbar-toggler:focus{
      box-shadow: none !important;
    }
    .navbar-toggler span svg{
      color: #fff !important;
    }
    .close1 svg{
      color: #fff;
    }
    .close1{
      display: none;
    }
    .show-menu1 .bar1{
      display:none;
    }
    .show-menu1 .close1{
      display: block;
    }
    footer p{
      font-size: 14px;
    }
    .inside-prodcuts1 {
      padding: 0 20px;
    }
    .comon-part1-ps .comon-buuton{
      margin: 0 !important;
    }
    .comon-alow h5{
      height: 38px;
    }
  }
  @media screen and (max-width:739px) {
  }
  @media screen and (max-width: 667px) {
    .banner h1, .banner h1 span{
       font-size: 100px;
    }
    .banner::before {
      content: "";
      left: -110px;
      top: 132px;
      width: 70%;
    }
    .banner::after {
      content: "";
      right: 0;
      top: 140px;
      width: 40%;
  }
  .how-it-work-1 h2,
  .how-it-work-1 p{
    text-align: center;
  }
  .comon-part1 h2,
  .comon-part1 p{
    text-align: left;
  }
  .how-it-work-1 ul {
    margin-top: 30px;
    margin-left: 90px;
  }
  .comon-part1 .right-content1 p{
    width: 100%;
  }
  .comon-part1 .right-content1{
    padding-left: 20px;
  }
  .comon-buuton{
    margin: auto !important;
  }

  .cre-img{
    margin-bottom: 20px;
  }

  .credibility-div p{
    text-align: center;
  }
  .contact-btn{
    width: 194px;
    margin-top: 25px;
    justify-content: center;
  }
  .comon-alow-div{
    padding: 40px;
  }
  .comon-alow-div h2 {
    font-size: 41px;
  }
  .comon-alow-div h3{
    margin-bottom: 15px;
  }
  .inside-prodcuts1 {
    padding: 0 ;
  }
  .inside-prodcuts1 h2 {
    font-family: 'PuntaExtrabold';
    font-size: 29px;
  }
  .products-md .inside-prodcuts1 .btn-close {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .inside-prodcuts1 p{
    font-size: 14px;
  }
  .comon-part1-ps{
    padding: 25px;
  }
  .comon-part1-ps{
    height: 260px;
  }
  .comon-part1-ps .comon-buuton {
    padding: 4px 19px !important;
    font-size: 12px !important;
    margin: 0 !important;
  }
  .comon-part1-ps .comingsoon-btn{
    width: 144px;
    font-size: 12px !important;
  }
  .inside-prodcuts1 h2{
    font-size: 22px;
  }
}
  
  @media screen and (max-width:428px) {
    .navbar-brand img{
      width: 120px;
     }
     .banner h1, .banner h1 span {
      font-size: 55px;
     }
     .banner h1 span.sp-color{
      display: block;
     }
     .banner ul li a {
      font-size: 19px;
     }
     .banner ul li{
      margin: 0 14px;
     }

     .banner ul li::after {
      width: 8px;
      height: 8px;
      top: 8px;
      right: -19px;
     }
     .banner::after{
      right: 0;
      top: 70px;
     }
     .banner::before{
      left: -20px;
      top: 132px;
     }
     .how-it-work-1 h2, .how-it-work-1 p {
      text-align: center;
     }
     .sub-head, .sub-head span{
      font-size: 32px;
     }
     .how-it-work-1 {
      padding-top: 90px;
     }
     .comon-part1 p, .comon-part1 h2 {
      text-align: left;
     }
     .comon-part1 figure {
      width: 14%;
     }
     .how-it-work-1 ul {
      margin-top: 30px;
      margin-left: 80px;
     }
     .comon-part1 .right-content1{
      padding-left: 20px;
     }
     .comon-part1 .right-content1 p {
      line-height: 20px;
      width: 100%;
      margin-top: 2px;
      font-size: 15px;
     }
     .comon-buuton{
      justify-content: center;
      margin: auto !important;
     }
     .comon-alow-div{
      padding: 40px 20px;
     }
     .contact-btn{
      margin-top: 25px !important;
      width: 140px;
      justify-content: center;
      padding: 6px 10px !important;
      height: 38px;
     }
     .cre-img{
      width: 80%;
      margin: auto;
      display: table;
      margin-bottom: 20px;
     }
     .credibility-div p{
      text-align: center;
     }
     .comon-alow-div h2 {
      font-size: 34px;
     }
     .comon-alow-div h3{
      font-size: 18px;
      margin-bottom: 15px;
     }
     .comon-alow h5{
      width: 100%;
      font-size: 16px;
      line-height: 23px;
      height: 36px;
     }
     .comon-logo{
      height: 64px;
      width: 96%;
     }
     .comon-logo img {
      margin: auto;
      width: 90%;
     }
     .how-it-work-1 .bd-how .sub-head,
     .how-it-work-1 .bd-how .sub-head span{
      font-size: 21px;
     }
     .how-it-work-1 .line,
     .credibility-div .line,
     .products-div1 .line{
      width: 72%;
      margin-top: 30px;
     }
     .logo-modal-div1{
      display: grid;
      justify-content: center;
      width: 100%;
     }
     .comon-part1-ps {
      height: auto;
      padding: 25px;
     }
     .login-btn {
      margin: 15px auto auto;
      width: 151px;
     }
     .navbar-collapse .comon-buuton {
      margin-top: 20px !important;
      width: 151px;
      font-size: 13px;
     }
     .navbar-collapse {
      width: 90%;
      display: table;
      margin: auto;
      flex-grow: 0;
      align-items: center;
      flex-basis: inherit;
     }
     .comon-part1-ps .comingsoon-btn ,
     .comingsoon-btn{
      width: 129px;
      font-size: 13px !important;
     }
     .comon-buuton,
     .comingsoon-btn{
      padding: 6px 22px !important;
      font-size: 13px !important;
      height: 38px;
     }

  }
  @media screen and (max-width: 393px) {
    .banner{
      padding-top: 140px;
    overflow: hidden;
    position: relative;
    }
    .banner h1, .banner h1 span {
      font-size: 58px;
    }
    .banner ul li a {
      font-size: 21px;
    }
    .banner::before {
      left: -51px;
      top: 201px;
      width: 54%;  
    }
    .banner:after{
      right: -33px;
    top: 150px;
    }
  }
  @media screen and (max-width: 380px) {
    .banner{
      padding-top: 140px;
    overflow: hidden;
    position: relative;
    }
    .banner h1, .banner h1 span {
      font-size: 58px;
    }
    .banner ul li a {
      font-size: 21px;
    }
    .banner::before {
      left: -51px;
      top: 201px;
      width: 54%;  
    }
    .banner:after{
      right: -33px;
    top: 150px;
    }
  }
  @media screen and (max-width: 375px) {
    .navbar-brand img{
      width:109px;
     }
     .banner h1, .banner h1 span {
      font-size: 48px;
     }
     .bar1 svg{
      width: 25px;
      height: 25px;
     }
     .banner h1 span.sp-color{
      display: block;
     }
     .banner ul li a {
      font-size: 19px;
     }
     .banner ul li{
      margin: 0 14px;
     }
     
     .banner ul li::after {
      width: 8px;
      height: 8px;
      top: 8px;
      right: -19px;
     }
     .comon-buuton{
      padding: 6px 15px !important;
      font-size: 13px !important;
      height: 38px;
      width: 136px;
     }
     .contact-btn{
      height: 38px;
      width: 136px;
      padding: 6px 15px !important;
      font-size: 13px !important;
      text-align: center;
      justify-content: center;
      font-size: 13px;
     }
     .banner p{
      margin-bottom: 30px;
     }
     .how-it-work-1 h2,
     .how-it-work-1 p{
      text-align: center;
     }
     .sub-head, .sub-head span{
      font-size: 31px;
     }
     .how-it-work-1 .comon-buuton{
      text-align: center;
      margin:25px auto !important;
     }
     .comon-part1 p,
     .comon-part1 h2{
      text-align: left;
     }
     .comon-part1{
      padding-left: 20px;
     }
     .comon-part1:after{
      left: 0;
     }
     .comon-part1 h2{
      font-size: 18px;
     }
     .comon-part1 .right-content1 p {
      line-height: 20px;
      width: 100%;
      margin-top: 2px;
      font-size: 15px;
     }
     .comon-part1 figure {
      width: 14%;
     }
     .comon-part1 .right-content1 {
      padding-left: 20px;
     }

     .credibility-div p{
      text-align: center;
     }
     .comon-part1-ps .comingsoon-btn {
      width: 124px;
      font-size: 12px !important;
  }
     .cre-img{
      width: 80%;
      margin: auto;
      text-align: center;
      display: block;
      margin-bottom: 20px;
     }
     .bd-cre {
      margin-top: 30px;
     }
     .credibility-div .contact-btn{
      margin-top: 15px !important;
     }
     .credibility-div .contact-btn,
     .credibility-div .comon-buuton{
      margin: auto;
     }
     .how-it-work-1 ul{
      margin-top: 30px;
      margin-left: 20px;
     }
     .comon-alow-div{
      padding: 40px 20px;
     }
     .comon-alow-div h2 {
      font-size: 32px;
     }
     .comon-alow h5{
      width: 100%;
      font-size: 13px;
     }

     .comon-logo {
      height: 36px;
     }

     .banner::before{
      left: -48px;
      top: 98px;
      width: 52%;
     }
     .banner::after {
      right: 0;
      top: 64px;
      width: 50%;
     }
     .how-it-work-1 {
      padding-top: 70px;
     }
     .comon-alow-div h3{
      font-size: 16px;
     }
     .products-div1 p,
     .credibility-div p,
     .how-it-work-1 p,
     .banner p{
      font-size: 14px;
     }
     .multi-logo-div{
      padding: 3px 0;
      margin-top: 50px;
     }

     .how-it-work-1 .line,
     .credibility-div .line,
     .products-div1 .line{
      width: 72%;
      margin-top: 30px;
     }
     .credibility-div .line{
      margin-top: 20px;
     }
     .products-div1 p{
      width: 80%;
      margin: auto;
      margin-top: 15px;
     }
     .allow-div1{
      margin-top: 50px;
     }
     .products-div1,
     .credibility-div{
      padding-top: 50px;
     }
     .comon-alow-div
     {
      margin-bottom: 50px;
     }
     .bd-how{
      margin-top: 50px;
     }
     .comon-alow p{
      width: 100%;
      font-size: 12px;
     }
     .banner {
      padding-top: 129px;
     
     }

     .comon-part1-ps {
      height: auto;
     }
     .col-wallte-btn {
      width: 165px;
      justify-content: center;
      font-size: 13px;
     }
     .navbar-collapse .comon-buuton {
      margin-top: 20px !important;
      width: 140px;
      padding: 6px 12px!important;
     }
     .login-btn{
      width: 100px;
      margin: auto;
      margin-top: 15px;
      font-size: 13px;
      height: 38px;
      padding:6px 64px!important;
     }
     .navbar{
      padding-top: 2px;
     }
     .navbar-collapse{
      width: 90%;
      display: table;
      margin: auto;
      flex-grow: 0;
      align-items: center;
      flex-basis: inherit;
     }
     .modal-logoiny .modal-body{
      width: 90%;
      margin: auto;
     }
     .comingsoon-btn{
      width: 147px;
      font-size: 14px;
     }
     .lline-div{
      width: 63px;
      height: 3px;
      margin-bottom: 6px;
     }
     footer p{
      font-size: 12px;
     }
     .footer-lg img {
      width: 46%;
     }
     .navbar{
      padding-top: 3px;
      padding-bottom: 3px;
     }
     .how-it-work-1 p{
      width: 80%;
      margin: auto;
      margin-top: 10px;
     }
     .credibility-div p {
      width: 81%;
      margin: auto;
     }
     .comon-buuton img{
      left: 12px;
      width: 19px;
     }
     .logo-modal-div1{
      display: grid;
      justify-content: center;
      width: 100%;
     }
  }
  @media screen and (max-width: 360px) {
    .navbar-brand img{
      width: 120px;
     }
    
     .banner h1, .banner h1 span{
      font-size: 37px;
     }
     .banner h1 span.sp-color{
      display: block;
     }
     .banner ul li a {
      font-size: 19px;
     }
     .banner ul li{
      margin: 0 14px;
     }
     .banner ul li::after {
      width: 8px;
      height: 8px;
      top: 8px;
      right: -19px;
     }
     .comon-buuton{
      padding: 6px 18px !important;
      font-size: 13px !important;
      width: 132px;
     }
     .credibility-div .contact-btn{
      width: 132px;
     }
     .banner p{
      margin-bottom: 30px;
     }
     .how-it-work-1 h2,
     .how-it-work-1 p{
      text-align: center;
     }
     .sub-head, .sub-head span{
      font-size: 31px;
     }
     .how-it-work-1 .comon-buuton{
      text-align: center;
      margin:25px auto !important;
     }
     .comon-part1 p,
     .comon-part1 h2{
      text-align: left;
     }
     .comon-part1{
      padding-left: 20px;
     }
     .comon-part1:after{
      left: 0;
     }
     .comon-part1 h2{
      font-size: 18px;
     }
     .comon-part1 .right-content1 p {
      line-height: 22px;
      width: 100%;
      margin-top: 2px;
     }
     .comon-part1 figure {
      width: 14%;
     }
     .comon-part1 .right-content1 {
      padding-left: 20px;
     }

     .credibility-div p{
      text-align: center;
     }
     .comon-alow-div{
      padding: 40px 20px;
     }
     .comon-alow-div h2 {
      font-size: 30px;
     }
     .banner::before{
      left: -48px;
      top: 116px;
      width: 52%;

     }
     .navbar-collapse .comon-buuton {
      width: 134px;
      padding: 6px 10px!important;
     }
  }
  @media screen and (max-width: 320px) {
     .navbar-brand img{
      width: 120px;
     }
     .banner h1, .banner h1 span {
      font-size: 46px;
     }
     .banner h1 span.sp-color{
      display: block;
     }
     .banner ul li a {
      font-size: 16px;
     }
     .banner ul li{
      margin: 0 14px;
     }
     .banner ul li::after {
      width: 8px;
      height: 8px;
      top: 8px;
      right: -19px;
     }
     .comon-buuton{
      padding: 6px 18px !important;
      font-size: 13px !important;
      width: 137px;
     }
     .banner p{
      margin-bottom: 30px;
      width: 75%;
     }
     .how-it-work-1 h2,
     .how-it-work-1 p{
      text-align: center;
     }
     .sub-head, .sub-head span{
      font-size: 31px;
     }
     .how-it-work-1 .comon-buuton{
      text-align: center;
      margin:25px auto !important;
     }
     .comon-part1 p,
     .comon-part1 h2{
      text-align: left;
     }
     .comon-part1{
      padding-left: 20px;
     }
     .comon-part1:after{
      left: 0;
     }
     .comon-part1 h2{
      font-size: 18px;
     }
     .comon-part1 .right-content1 p {
      line-height: 20px;
      width: 100%;
      margin-top: 2px;
      font-size: 15px;
     }
     .comon-part1 figure {
      width: 14%;
     }
     .comon-part1 .right-content1 {
      padding-left: 20px;
     }

     .credibility-div p{
      text-align: center;
     }

     .comon-alow-div{
      padding: 40px 20px;
     }
     .comon-alow-div h2 {
      font-size: 25px;
     }

     .banner::before {
      left: -39px;
      top: 83px;
      width: 48%;
     }
     .banner{
      padding-top: 112px;
     }
     .banner::after {
      right: 0;
      top: 22px;
      width: 50%;
     }
     .banner ul {
      margin: 14px 0;
     }
     .how-it-work-1 {
      padding-top: 70px;
     }
     .comon-alow h5 {
      font-size: 11px;
      line-height: 20px;
     }
     .products-div1 p{
      font-size: 12px;
      margin-top: 10px;
     }
     .how-it-work-1 .line,
     .credibility-div .line,
     .products-div1 .line{
      width: 72%;
      margin-top: 30px;
     }
     .credibility-div .line{
      margin-top: 20px;
     }
     .bd-how{
      margin-top: 40px;
     }
     .credibility-div {
      padding-top: 40px;
     }
     .multi-logo-div{
      margin-top: 50px;
     }
     .products-div1{
      padding-top: 50px;
     }
     .allow-div1{
      margin-top: 35px;
     }
     .comon-alow-div{
      margin-bottom: 35px;
     }
     .how-it-work-1 p{
      width: 80%;
      margin: auto;
      font-size: 14px;
      margin-top: 15px !important;
     }
     .multi-logo-div{
      padding: 10px 0;
     }
     .how-it-work-1 .sub-head,
     .how-it-work-1 .sub-head span{
      font-size: 22px;
     }
     .comon-part1-ps {
      height: auto;
     }
     .navbar-collapse .comon-buuton {
      margin-top: 20px !important;
      width: 134px;
      font-size: 13px;
     }
     .login-btn{
      margin: auto;
      width: 92px;
      font-size: 13px;
     }
  }